.container {
  text-align: center;
  margin-top: 50px;
  font-family: Arial, sans-serif;
}

h1 {
  color: #333;
}

h2 {
  font-size: 40px;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background: #4c86af;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #457aa0;
}
